In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#1- Lecture de la base de données
Data = pd.read_csv("kidney_disease.csv",delimiter=",",decimal=".")
display(Data)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
#2 - Vérifications le type de Data
Data.dtypes
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [5]:
#3- Détermination du nombre d'individus et de variables
#Dimensions de la table de données : nombre de lignes, nombre de colonnes
#La ligne d'en-tête n'est pas comptabilisée dans le nombre de lignes
#La colonne d'ID ne doit pas être considérés comme variable caractéristique
dimension = Data.shape
NbrLignes = Data.shape[0]
NbrColonnes = Data.shape[1]
print("Dimension :",dimension)
print("Nombre de lignes :",NbrLignes)
print("Nombre de colonnes :",NbrColonnes)

Dimension : (400, 26)
Nombre de lignes : 400
Nombre de colonnes : 26

In [6]:
# 4 renommer les colonnes
Data.columns = ['ID', 'âge', 'pression_sang', 'gravité_spécifique', 'albumine', 'sucre', 'cellules_rouges', 'pus_cell',
              'pus_cell_clumps', 'bactéries', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
              'potassium', 'hémoglobine', 'volume_concentré_cellules', 'nombre_globules_blancs', 'nombre_globules_rouges',
              'hypertension', 'diabète_mellitus', 'maladie_artérielle_coronaire', 'appétit', 'œdème_péda',
              'anémie', 'classification']
#5 dropping la colonne 'ID' 
Data.drop('ID', axis = 1, inplace = True)
display(Data)

,âge,pression_sang,gravité_spécifique,albumine,sucre,cellules_rouges,pus_cell,pus_cell_clumps,bactéries,blood_glucose_random,...,volume_concentré_cellules,nombre_globules_blancs,nombre_globules_rouges,hypertension,diabète_mellitus,maladie_artérielle_coronaire,appétit,œdème_péda,anémie,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [7]:
#3- Détermination du nombre des valeurs manquantes
DataManquante = Data.isnull().sum()
print(DataManquante[DataManquante > 0].sort_values(ascending=False))

cellules_rouges                 152
nombre_globules_rouges          130
nombre_globules_blancs          105
potassium                        88
sodium                           87
volume_concentré_cellules        70
pus_cell                         65
hémoglobine                      52
sucre                            49
gravité_spécifique               47
albumine                         46
blood_glucose_random             44
blood_urea                       19
serum_creatinine                 17
pression_sang                    12
âge                               9
bactéries                         4
pus_cell_clumps                   4
hypertension                      2
diabète_mellitus                  2
maladie_artérielle_coronaire      2
appétit                           1
œdème_péda                        1
anémie                            1
dtype: int64

In [8]:
#6 changer des colonnes  de type de données Objet
text_col = ['volume_concentré_cellules', 'nombre_globules_blancs', 'nombre_globules_rouges']

for col in text_col:
    print(f"{col} -: {Data[col].dtype}")

volume_concentré_cellules -: object
nombre_globules_blancs -: object
nombre_globules_rouges -: object

In [9]:
# Convertit la colonne texte a la colonne numérique 
def Convertir_col_texte_2_col_num (dataframe, feature):
    dataframe[feature] = pd.to_numeric(Data[feature], errors='coerce')

for col in text_col:
    Convertir_col_texte_2_col_num(Data, col)
    print(f"text_col: {Data[col].dtype}")
Data.dtypes

text_col: float64
text_col: float64
text_col: float64

âge                             float64
pression_sang                   float64
gravité_spécifique              float64
albumine                        float64
sucre                           float64
cellules_rouges                  object
pus_cell                         object
pus_cell_clumps                  object
bactéries                        object
blood_glucose_random            float64
blood_urea                      float64
serum_creatinine                float64
sodium                          float64
potassium                       float64
hémoglobine                     float64
volume_concentré_cellules       float64
nombre_globules_blancs          float64
nombre_globules_rouges          float64
hypertension                     object
diabète_mellitus                 object
maladie_artérielle_coronaire     object
appétit                          object
œdème_péda                       object
anémie                           object
classification                   object
dtype: object

In [10]:
import numpy as np

# Remplacement des valeurs manquantes dans toutes les colonnes numériques par une moyenne
def mean_imputation(dataframe, feature):
    mean_value=dataframe[feature].mean()
    dataframe[feature].fillna(value=mean_value, inplace=True)

# Obtention des noms de colonnes de toutes les caractéristiques numériques
Data_num = Data.select_dtypes(exclude=['object'])

# Attribution d'un nombre aléatoire à toutes les données manquantes dans les colonnes numériques
for column_name in Data_num:
    mean_imputation(Data,column_name)
    


# Remplacement des valeurs manquantes dans toutes les colonnes catégorielles par les données de fréquence la plus élevée
def mode_imputation(dataframe, feature):
    mode = dataframe[feature].mode()[0]
    dataframe[feature] = dataframe[feature].fillna(mode) 

#Obtention des noms de colonnes de toutes les fonctionnalités catégorisées
Data_obj = Data.select_dtypes(include=[object])
mode_imputation(Data,"pression_sang")

#Attribuer la fréquence la plus élevée à toutes les données manquantes dans les colonnes catégorielles
for column_name in Data_obj:
    mode_imputation(Data,column_name)

In [11]:
Data

,âge,pression_sang,gravité_spécifique,albumine,sucre,cellules_rouges,pus_cell,pus_cell_clumps,bactéries,blood_glucose_random,...,volume_concentré_cellules,nombre_globules_blancs,nombre_globules_rouges,hypertension,diabète_mellitus,maladie_artérielle_coronaire,appétit,œdème_péda,anémie,classification
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.000000,...,47.0,6700.0,4.900000,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.000000,...,54.0,7800.0,6.200000,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,49.0,6600.0,5.400000,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.000000,...,51.0,7200.0,5.900000,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.000000,...,53.0,6800.0,6.100000,no,no,no,good,no,no,notckd

In [12]:
#Détermination du nombre des valeurs manquantes
valeurs_manquantes = Data.isnull().sum()
valeurs_manquantes[valeurs_manquantes > 0].sort_values(ascending=False)

Series([], dtype: int64)

In [13]:
#6 changer des colonnes  de type de données Objet
text_columns = ['volume_concentré_cellules', 'nombre_globules_blancs', 'nombre_globules_rouges']

for column in text_columns:
    print(f"{column} -: {Data[column].dtype}")

volume_concentré_cellules -: float64
nombre_globules_blancs -: float64
nombre_globules_rouges -: float64

In [14]:
# Obtention des noms de colonnes de toutes les fonctionnalités catégorisées
catig_col = [col for col in Data.columns if Data[col].dtype == 'object']

print(catig_col)
print('---------------------------------------------------------------------------------------------------------------')

# les données manquantes dans les colonnes catégorielles
for col_name in catig_col:
    print(f"{col_name} -: {Data[col_name].unique()}")

['cellules_rouges', 'pus_cell', 'pus_cell_clumps', 'bactéries', 'hypertension', 'diabète_mellitus', 'maladie_artérielle_coronaire', 'appétit', 'œdème_péda', 'anémie', 'classification']
---------------------------------------------------------------------------------------------------------------
cellules_rouges -: ['normal' 'abnormal']
pus_cell -: ['normal' 'abnormal']
pus_cell_clumps -: ['notpresent' 'present']
bactéries -: ['notpresent' 'present']
hypertension -: ['yes' 'no']
diabète_mellitus -: ['yes' 'no' ' yes' '\tno' '\tyes']
maladie_artérielle_coronaire -: ['no' 'yes' '\tno']
appétit -: ['good' 'poor']
œdème_péda -: ['no' 'yes']
anémie -: ['no' 'yes']
classification -: ['ckd' 'ckd\t' 'notckd']

In [15]:
Data['diabète_mellitus'] = Data['diabète_mellitus'].replace(to_replace = {' yes':'yes', '\tno':'no', '\tyes':'yes'})
Data['maladie_artérielle_coronaire'] = Data['maladie_artérielle_coronaire'].replace(to_replace = '\tno', value='no')
Data['classification'] = Data['classification'].replace(to_replace = {'ckd\t': 'ckd', 'notckd': 'not ckd'})

In [16]:
# checking the distribution of Target Variable
Data['classification'].value_counts()

classification
ckd        250
not ckd    150
Name: count, dtype: int64

In [17]:
Data['classification'] = Data['classification'].map({'ckd': 1, 'not ckd': 0})
Data['cellules_rouges'] = Data['cellules_rouges'].map({'normal': 1, 'abnormal': 0})
Data['pus_cell'] = Data['pus_cell'].map({'normal': 1, 'abnormal': 0})
Data['pus_cell_clumps'] = Data['pus_cell_clumps'].map({'present': 1, 'notpresent': 0})
Data['bactéries'] = Data['bactéries'].map({'present': 1, 'notpresent': 0})
Data['hypertension'] = Data['hypertension'].map({'yes': 1, 'no': 0})
Data['diabète_mellitus'] = Data['diabète_mellitus'].map({'yes': 1, 'no': 0})
Data['maladie_artérielle_coronaire'] = Data['maladie_artérielle_coronaire'].map({'yes': 1, 'no': 0}) 
Data['appétit'] = Data['appétit'].map({'good': 1, 'poor': 0})
Data['œdème_péda'] = Data['œdème_péda'].map({'yes': 1, 'no': 0})
Data['anémie'] = Data['anémie'].map({'yes': 1, 'no': 0})

In [18]:
display(Data)

,âge,pression_sang,gravité_spécifique,albumine,sucre,cellules_rouges,pus_cell,pus_cell_clumps,bactéries,blood_glucose_random,...,volume_concentré_cellules,nombre_globules_blancs,nombre_globules_rouges,hypertension,diabète_mellitus,maladie_artérielle_coronaire,appétit,œdème_péda,anémie,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.000000,...,44.0,7800.0,5.200000,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.036517,...,38.0,6000.0,4.707435,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.000000,...,31.0,7500.0,4.707435,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.000000,...,32.0,6700.0,3.900000,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.000000,...,35.0,7300.0,4.600000,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.000000,...,47.0,6700.0,4.900000,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.000000,...,54.0,7800.0,6.200000,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.000000,...,49.0,6600.0,5.400000,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.000000,...,51.0,7200.0,5.900000,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.000000,...,53.0,6800.0,6.100000,0,0,0,1,0,0,0

In [19]:
Data.fillna(Data.median(), inplace=True)

In [20]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   âge                           400 non-null    float64
 1   pression_sang                 400 non-null    float64
 2   gravité_spécifique            400 non-null    float64
 3   albumine                      400 non-null    float64
 4   sucre                         400 non-null    float64
 5   cellules_rouges               400 non-null    int64
 6   pus_cell                      400 non-null    int64
 7   pus_cell_clumps               400 non-null    int64
 8   bactéries                     400 non-null    int64
 9   blood_glucose_random          400 non-null    float64
 10  blood_urea                    400 non-null    float64
 11  serum_creatinine              400 non-null    float64
 12  sodium                        400 non-null    float64
 13  potassium                     400 non-null    float64
 14  hémoglobine                   400 non-null    float64
 15  volume_concentré_cellules     400 non-null    float64
 16  nombre_globules_blancs        400 non-null    float64
 17  nombre_globules_rouges        400 non-null    float64
 18  hypertension                  400 non-null    int64
 19  diabète_mellitus              400 non-null    int64
 20  maladie_artérielle_coronaire  400 non-null    int64
 21  appétit                       400 non-null    int64
 22  œdème_péda                    400 non-null    int64
 23  anémie                        400 non-null    int64
 24  classification                400 non-null    int64
dtypes: float64(14), int64(11)
memory usage: 78.3 KB

In [21]:
display(Data)

,âge,pression_sang,gravité_spécifique,albumine,sucre,cellules_rouges,pus_cell,pus_cell_clumps,bactéries,blood_glucose_random,...,volume_concentré_cellules,nombre_globules_blancs,nombre_globules_rouges,hypertension,diabète_mellitus,maladie_artérielle_coronaire,appétit,œdème_péda,anémie,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.000000,...,44.0,7800.0,5.200000,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.036517,...,38.0,6000.0,4.707435,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.000000,...,31.0,7500.0,4.707435,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.000000,...,32.0,6700.0,3.900000,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.000000,...,35.0,7300.0,4.600000,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.000000,...,47.0,6700.0,4.900000,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.000000,...,54.0,7800.0,6.200000,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.000000,...,49.0,6600.0,5.400000,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.000000,...,51.0,7200.0,5.900000,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.000000,...,53.0,6800.0,6.100000,0,0,0,1,0,0,0

In [22]:
# Define Class as Target Variable, and the rest as feature variable
X = Data.drop("classification", axis=1)     # everything except 'class' column
y = Data['classification']

In [23]:
from sklearn.model_selection import train_test_split
# Define the train dataset as 70% and test dataset as 30%
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state = 1)

In [24]:
# Confirm that the records returned for Train is about 70% and Test is about 30%
print(f"'X' shape: {X_train.shape}")
print(f"'y' shape: {X_test.shape}")

'X' shape: (280, 24)
'y' shape: (120, 24)

In [25]:
# Model
model = LogisticRegression()
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

c:\Users\ok\Desktop\FinalProjectOtman\projetFinal\.conda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [26]:
np.unique(y)

array([0, 1], dtype=int64)

In [27]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9392857142857143

In [28]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9333333333333333

In [29]:
import pickle
pickle.dump(model,open('ckd_model.pkl','wb'))

In [30]:
CKD_Predict = pickle.load(open('ckd_model.pkl','rb'))

In [31]:
input_data = (1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)
#(62,5,10,140,0,0,0,160,0,3.6,0,2,2,62,0,0,140,268,0,0,160,0,3.6,0)

# Changer la forme des données a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape les données
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('La personne ne a pas le CKD')
else:
  print('La personne  a le CKD')

y_predi = CKD_Predict.predict(input_data_reshaped)

[0]
La personne ne a pas le CKD

c:\Users\ok\Desktop\FinalProjectOtman\projetFinal\.conda\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
c:\Users\ok\Desktop\FinalProjectOtman\projetFinal\.conda\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [32]:
y_predi

array([0], dtype=int64)

In [33]:
if (y_predi[0]== 0):
  print('La personne ne a pas le CKD')
else:
  print('La personne  a le CKD')

La personne ne a pas le CKD